@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  background-color: #4F6367;
  color: #EEF5DB;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  font-size: 46px;
  margin: 26px;
}

/*.mobile-header {
  visibility: collapse;
}*/

.today--date-wrapper {
  background: rgba(184,216,216,0.70);
  border: 3px solid #7A9E9F;
  width: 300px;
  margin: 20px auto;
  display: flex;
  height: 60px;
  justify-content: center;
}

.today--sets,
.today--reps {
  border-right: 3px solid #7A9E9F;
  flex-grow: .7;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
}

.today--checkbox {
  margin: auto 10px;
}

.today--activity {
  flex-grow: 5;
  padding-top: 20px;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.log-section {
  flex-grow: 1.5;
  background-color: rgba(184,216,216,0.70);
  border: 3px solid #7A9E9F;
}

.log--title {
  font-size: 26px;
}

.log--date-wrapper {
  margin: 10px auto;
  background-color: #B8D8D8;
  border: 3px solid #7A9E9F;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 65%;
  justify-content: space-around;
  align-items: center;
}

.log--activity {
  width: 60%;
}

.today-section {
  flex-grow: 1;
}

.today--wrapper {
  height: 60px;
}

.calendar-section {
  flex-grow: 1.5;
  max-width: 485px;
}

@media (max-width: 1250px) {
  .log-section,
  .calendar-section {
    visibility: hidden;
  }

  .body-wrapper {

  }

  /*.mobile-header {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }*/

}

/*$dark-gray: #4F6367;
$blue-gray: #7A9E9F;
$light-blue: #B8D8D8;
$greenish-yellow: #EEF5DB;
$red: #FE5F55;*/
